{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="gestor-container">
  <div class="menu-info">
    <h1 class="menu-titles">Gestor de cotizaciones Web</h1>
    <p class="menu-subtitle">Administra clientes, productos y cotizaciones con acceso privado y enlaces públicos.</p>
  </div>

  <p class="description">Sistema de cotizaciones sencillo para pequeñas y medianas empresas. Permite gestionar clientes, productos y generar cotizaciones con totales e impuestos, todo con autenticación segura y datos centralizados. Rápido, fácil de usar y listo para crecer con nuevas funciones.</p>
  
  <div class="video-container">
    <iframe class="video-iframe" src="https://drive.google.com/file/d/1-KKpVVvh97Amcq0SpGIJSKZMJIZW3ZQM/preview" frameborder="0 allow="autoplay"></iframe>
  </div>

  <div class="video-info">
    <p class="video-text">¡Si tienes problemas con el video puedes darle click <a href="https://drive.google.com/file/d/1-KKpVVvh97Amcq0SpGIJSKZMJIZW3ZQM/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="here">aqui!</a></p>
    <p class="video-text">¡Si quieres ver el repositorio del poryecto puedes darle click <a href="https://github.com/JuSeRDev/simple-quoting-system.git" target="_blank" rel="noopener noreferrer" class="here">aqui!</a></p>
  </div>
</div>

{% endblock %}

