{% extends 'layouts/base.html' %}

{% block content %}

<div class="container">
  
   {# container user info #}

  <div class="container-user-info">
    <div class="container-imgs">

      <div class="img">
        <img src="../../static/landing/img/avatar.png" alt="avatar" class="avatar">
      </div>
    </div>

    <div class="user-info">
      
      <div class="user-text">
        <p class="name">JuanSe Rodriguez</p>
        <p class="user">@juserdev</p>
      </div>
      <div class="container-sm">
        <a href="#" ><img class="sm-img" src="../../static/landing/img/github_logo.png" alt="github"></a>
        <a href="#" ><img class="sm-img" src="../../static/landing/img/x_logo.png" alt="x"></a>
        <a href="#" ><img class="sm-img" src="../../static/landing/img/ig_logo.png" alt="instagram"></a>
        <a href="#" ><img class="sm-img" src="../../static/landing/img/tiktok_logo.png" alt="tiktok"></a>
        <a href="#" ><img class="sm-img" src="../../static/landing/img/fb_logo.png" alt="facebook"></a>
        <a href="#" ><img class="sm-img" src="../../static/landing/img/linkedin_logo.png" alt="linkedin"></a>
      </div>

    </div>

  </div>

  {# end container user info #}

  

</div>


{% endblock %}