{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  
   {# container user info #}

  <div class="container-user-info">
    <div class="container-imgs">

      <div class="img">
        <img src="../../static/landing/img/avatar.png" alt="avatar" class="avatar">
      </div>
    </div>

    <div class="user-info">
      
      <div class="user-text">
        <p class="name">JuanSe Rodriguez</p>
        <p class="user">@juserdev</p>
      </div>
      <div class="container-sm">
        <a href="#" ><img class="sm-img" src="../../static/landing/img/github_logo.png" alt="github"></a>
        <a href="#" ><img class="sm-img" src="../../static/landing/img/x_logo.png" alt="x"></a>
        <a href="#" ><img class="sm-img" src="../../static/landing/img/ig_logo.png" alt="instagram"></a>
        <a href="#" ><img class="sm-img" src="../../static/landing/img/tiktok_logo.png" alt="tiktok"></a>
        <a href="#" ><img class="sm-img" src="../../static/landing/img/fb_logo.png" alt="facebook"></a>
        <a href="#" ><img class="sm-img" src="../../static/landing/img/linkedin_logo.png" alt="linkedin"></a>
      </div>

    </div>

  </div>

  {# end container user info #}

  <div class="container-plus">
    <div class="container-plus-text">
      <p class="plus-cpt">+3</p>
      <p class="text-cpt">Años desarrollando</p>
    </div>
    <div class="container-plus-text">
      <p class="plus-cpt">+10</p>
      <p class="text-cpt">Proyectos creados</p>
    </div>
    <div class="container-plus-text">
      <p class="plus-cpt">+100</p>
      <p class="text-cpt">Puntos de motivación</p>
    </div>
  </div>

  <p class="description">Soy programador frontend en formación con experiencia en desarrollo web y conocimientos en backend. Actualmente trabajo con HTML, CSS, JavaScript, TypeScript, Vite, Python y Django. Aquí podrás conocer más sobre mis proyectos.</p>

</div>


{% endblock %}