.gestor-container{
  display: flex;
  flex-direction: column;
  width: 510px;
}

.video-container{
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  background-color: var(--acent-text);
}

.video-iframe{
  width: 510px;
  height: 300px;
  padding: 10px;
}

.video-info{
  padding: 25px 0;
  color: var(--principal-text);
}

.here{
  text-decoration: none;
  color: var(--acent-text);
  font-weight: 600;
}

@media (width <= 510px){
  .gestor-container{
    width: 93%;
  }

  .video-iframe{
    max-height: 300px;
  }
}